<dialog #dialog class="vehicle-detail-modal" aria-modal="true" aria-labelledby="modal-title">
  <div class="vehicle-detail-modal__content">
    <button class="vehicle-detail-modal__close" (click)="close()" aria-label="Close details" type="button">
      &times;
    </button>

    <h2 id="modal-title" class="vehicle-detail-modal__title">{{ vehicle().name }}</h2>
    <ul class="vehicle-detail-modal__list">
      <li>Bodystyles: {{ vehicle().meta.bodystyles.join(', ') }}</li>
      <li>Drivetrain: {{ vehicle().meta.drivetrain.join(', ') }}</li>
      <li>Passengers: {{ vehicle().meta.passengers }}</li>
      <li>Emissions: {{ emissionsLabel() }}</li>
    </ul>
  </div>
</dialog>
